{% extends 'base.html.twig' %}

{% block title %}Detalle del Departamento{% endblock %}

{% block content %}
    <h1>Detalle del Departamento</h1>
    <p>ID: {{ departamento.id }}</p>
    <p>Nombre: {{ departamento.nombre }}</p>
    <p>Descripción: {{ departamento.descripcion }}</p>
    <!-- Agrega más detalles si es necesario -->
{% endblock %}
