{% extends 'base.html.twig' %}

{% block title %}Detalle del Profesor{% endblock %}

{% block content %}
    <h1>Detalle del Profesor</h1>
    <p>ID: {{ profesor.id }}</p>
    <p>Nombre: {{ profesor.nombre }}</p>
    <p>Apellidos: {{ profesor.apellido }}</p>
    <!-- Agrega más detalles si es necesario -->
{% endblock %}
