{% extends 'base.html.twig' %}

{% block title %}Nuevo Profesor{% endblock %}

{% block content %}
    <h1>Nuevo Profesor</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Guardar</button>
    {{ form_end(form) }}
{% endblock %}
